<?xml version="1.0" ?>
<robot name="m2nut.urdf">
  <link name="baseLink">
    <contact>
    	<friction_anchor/>
    	   <lateral_friction value="0.5"/>
        <rolling_friction value="0.005"/>
        <spinning_friction value="0.005"/>
    </contact>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 -6E-4"/>
       <mass value="1E-3"/>
       <inertia ixx="1.9e-8" ixy="0" ixz="0" iyy="1.9E-8" iyz="0" izz="3.5E-8"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
				<mesh filename="m2_nut.obj" scale=".01 .01 .01"/>
      </geometry>
       <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
	 <mesh filename="m2_nut.obj" scale=".01 .01 .01"/>
      </geometry>
    </collision>
  </link>
</robot>

